@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
html{
  --primary-bg: rgb(255, 129, 27);
  --primary-bg-opacity: rgba(255, 129, 27, 50%)
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  justify-content: center;
  gap: 100px;
}
li::after {
  /* pseudo element */
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: white;
  transition: 0.2s ease-in-out;
}
li:hover::after {
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
}

button{
  background-color:  var(--primary-bg);
  border:none;
  padding:10px 30px;
  border-radius:5px;
  box-shadow:2px 3px 5px 4px rgb(0 0 0 / 15%);
  color:white;
  font-size: 20px;
  font-weight: 700;
  margin-top:10px;
}

.container{
  max-width: 1400px;
  margin:auto;
  text-align: center;
}

.hamburger{
  width:60px;
  height:40px;
  position: relative;
  display: flex;
  align-items: center;
  margin:10px;
}
.hamburger::before, .hamburger::after{
  content:"";
  background-color: black;
  width:100%;
  height:20%;
  position:absolute;
  transition:0.5s;
}
.hamburger::before{
  top:0;
}
.hamburger::after{
  bottom:0;
}
.hamburger .line{
  width:100%;
  height:20%;
  background-color: black;
  transition: 0.5s;
}

.hamburger:hover .line{
  opacity: 0;
}

.hamburger:hover::before{
  transform:translateY(-50%) rotate(-45deg);
  top:50%; 
}

.hamburger:hover::after{
  transform:translateY(50%) rotate(45deg);
  bottom:50%;
}

@media (min-width:600px){
  .hamburger{
    display: none;
  }
  nav ul{
    display: flex;
  }
  nav{
    justify-content: center;
  }
}